<h1>{{ title }}</h1>

<hr>

<div class="container bg">
  En app.component <input type="text" class="form-control" [(ngModel)]="salidaPadre"><br>
</div>

<br>
<hr>

<app-ciclo-de-vida [entradaHijo]="salidaPadre"></app-ciclo-de-vida>

<!-- <div class="padre">
  <table border="1">
    <th colspan="2" style="text-align: center">Padre</th>
    <tr>
      <td>Valor1</td>
      <td><input type="text" class="form-control" [(ngModel)]="valor1" /></td>
    </tr>

    <tr>
      <td>Valor2</td>
      <td><input type="text" class="form-control" [(ngModel)]="valor2" /></td>
    </tr>

    <tr>
        <td>Resultado:</td>
        <td><b>{{ resultadoP }}</b></td>
    </tr>
  </table>
</div> -->

<!-- <app-comunicacion [valor1]="valor1" [valor2]="valor2" (envRes)="captaResultado($event)"></app-comunicacion> -->

<!-- <div>
    <h1>{{ title }}</h1>
    <br>
    <p>Sumar: 3 + 6 = <b>{{ res1 }}</b></p>
    <p>Restar: 8 - 5 = <b>{{ res2 }}</b></p>
    <p>Multiplicar: 2 x 7 = <b>{{ res3 }}</b></p>
    <p>Dividir: 30 / 3 = <b>{{ res4 }}</b></p>
</div> -->

<!-- <app-decoradores miAtributo="Valor de muestra para un atributo"></app-decoradores> -->

<!-- <app-componente-propiedades></app-componente-propiedades> -->

<!-- <router-outlet></router-outlet> -->
