<h2>{{ title }}</h2>

<div class="container">
    <table class="table table-bordered table-hover">
        <tbody>
            <tr>
                <td>
                    <input type="checkbox" name="ponFondo" [(ngModel)]="ponFondo">Fondo<br><br>
                </td>
                <td>
                    <div [class.fondo]="ponFondo">
                        Hola
                    </div>
                </td>
            </tr>

            <tr>
                <td colspan="2">
                    <a [href]="referencia" target="_blank">{{ referencia }}</a>
                </td>
            </tr>

            <tr>
                <td>
                    <button type="button" class="btn btn-primary tamB" (click)="mostrar=!mostrar">
                        <span>{{ mostrar ? 'Mostrar' : 'Ocultar' }}</span>
                    </button>
                </td>
                <td>
                    <div [hidden]="mostrar">
                        <h3>Se ve</h3>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" class="btn btn-primary tamB" (click)="habilitar=!habilitar">
                        {{ habilitar ? 'Habilitar' : 'Deshabilitar' }}
                    </button>
                </td>
                <td>
                    <button type="button" [disabled]="habilitar" class="btn btn-outline-primary tamB">
                        Prueba
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>